<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="img/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/shortcuts.js" defer></script>
    <title>Nucleon</title>
</head>
<body>
    <header>
    <div class="container">
        <h1 id="hela">Nucleon</h1>
        <i class="fas fa-search"><input type="search" placeholder="Search (ctrl+y)"></i>
        <nav>
            <ul class="list-flex">
                <li>My Work</li>
                <li>Spaces</li>
                <li>Themes</li>
                <li>Marketplace</li>
                <li>Connect</li>
            </ul>
        </nav>
        <div>
            <a href="/signup"><input type="button" value="Login"></a>
            <a href="#"><input type="button" value="See plans"></a>
        </div>
    </header>
</body>
</html>