<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="shortcut icon" href="img/favico.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/shortcuts.js" defer></script>
    <title>Nucleon</title>
</head>
<body>
    <header>
        <h1 id="hela">Nucleon</h1>
        <input type="search" placeholder="Search (ctrl+y)">
        <nav>
            <ul class="navi">
                <li>My Work</li>
                <li>Spaces</li>
                <li>Themes</li>
                <li>Marketplace</li>
                <li>Connect</li>
            </ul>
            <ul>
                <li>
                    <input type="button" value="Login">
                </li>
                <li>
                    <input type="button" value="See plans">
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>