<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>Nucleon</title>
</head>
<body>
    <header>
        <h1 id="hela">Nucleon</h1>
        <input type="search" placeholder="Search (ctrl+K)">
        <nav>
            <ul class="navi">
                <li>My Work</li>
                <li>Spaces</li>
                <li>Themes</li>
                <li>Marketplace</li>
                <li>Connect</li>
            </ul>
        </nav>
    </header>
    <script src="app/Listners/shortcuts.js"></script>
</body>
</html>