<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link rel="shortcut icon" href="/img/favico.png" type="image/x-icon">
    <script src="/shortcuts.js" defer></script>
    <title>Nucleon</title>
</head>
<body>
    <header>
    <div class="container">
        <h1 id="hela">Nucleon</h1>
        <div id="search">
            <input type="search" placeholder="Search (ctrl+y)">
            <nav>
                <ul class="list-flex">
                    <li>My Work</li>
                    <li>Spaces</li>
                    <li>Themes</li>
                    <li>Marketplace</li>
                    <li>Connect</li>
                </ul>
            </nav>
        </div>
        <div>
            <input type="button" value="Login">
            <input type="button" value="See plans">
        </div>
    </div>
    </header>
</body>
</html>