
<aside class="sidebar">

  <div class="brand">Nucleon</div>

  <input class="search" type="text" placeholder="Search">

  <a class="item" href="">Home</a>
  <a class="item" href="">Dashboard</a>
  <a class="item" href="">Calendar</a>

  <input type="checkbox" id="task">
  <label class="item drop" for="task">
    <span>Task</span><span>▼</span>
  </label>
  <div class="dropdown">
    <a href="">Backlog</a>
    <a href="">In progress</a>
    <a href="">Done</a>
  </div>

  <input type="checkbox" id="tools">
  <label class="item drop" for="tools">
    <span>Tools</span><span>▼</span>
  </label>
  <div class="dropdown">
    <a href="">Inbox</a>
    <a href="">Reports</a>
  </div>

  <a class="item" href="">Past</a>
  <a class="item" href="">Active</a>

  <div class="bottom">
    <a href="">Help Center</a>
    <a href="">Settings</a>
    <a href="">Account</a>
  </div>

</aside>

