
<div class="forYouPage">
    <div class ="header">
        <h1>My Workspace</h1>
    
     <div class="headerLinks">
        <a href="#">Members</a>
        <a href="#">Work</a>
     </div>
    </div>
    <div class="GRID">
        <div class="card">
            <h3>ACTIVITY STATUS</h3>
            <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div>
            <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div>
             <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div></div> 



             <div class="card">
            <h3>TASK DUE DATE</h3>
            <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div>
            <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div>
            
            <div class="BoxLine">
                <div class="box"></div>
                    <div class="line"></div>
                
            </div></div>


             <div class="card">
            <h3>KEY MATRICS</h3></div>

            <div class="cardWide">
                <h3>PENDING PROJECT</h3>
                <div class="BoxLine">
                    <div class="box"></div>
                    <div class="line"></div>
                </div>
                 <div class="BoxLine">
                    <div class="box"></div>
                    <div class="line"></div>
                </div>
            </div>


            <div class="card">
                <h3>PROGRESS REPORT</h3>
            </div></div>


            






        




    </div>
</div>
  

