<%- include("../partials/header.ejs") %> 
<form action="/login" method="post">
    <input name="email" type="text" class="feedback-input" placeholder="Email" />
    <input name="password" type="password" class="feedback-input" placeholder="Password" />
</form>