<link

rel="stylesheet"

href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>
<script src="https://d3js.org/d3.v5.min.js"></script>
<div class="container">
    <h1>Reports & Analytics</h1>

    <div class="tabs">
      <button class="tab">My report</button>
      <button class="tab2">Team report</button>
    </div>

    <div class="top">
        <div class="card">
             <div class="inside-card">
            <i class="fa-solid fa-users icon"></i>
        <h5>Members Participated</h5></div>
        <p1>6</p1>
        </div>

        <div class="card">
             <div class="inside-card">
            <i class="fa-solid fa-list-check icon" aria-hidden="true"></i>
            <h5>Task completed</h5></div>
            <p1>09/12</p1>

        </div>

        <div class="card">
             <div class="inside-card">
        <i class="fa-regular fa-clock icon "></i>
        <h5>Average Time For Each Task</h5></div>
        <p1>2h</p1>

        </div>

       
    </div>


    <div class="bottom">
        <div class="chart-card">
            <h5>Task Completed by Team Members</h5>
            <svg id="barChart"></svg>
        </div>

        <div class="status-card">
             <div class="inside-card">
           <i class="fa-solid fa-list-check icon" aria-hidden="true"></i> 

            <h5>Task Status</h5></div>

            <p>To Do - 35%</p>
            <p>In progress - 40%</p>
            <p>In Review - 10%</p>
            <p>Done - 15%</p>
        </div>




    </div>



    
</div>
<script src="report.js"></script>

