* {
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #060606;
    color: #f3efef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
}
.container {
    width: 360px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    background: linear-gradient(135deg, #000000, #000000);
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 14px;
}

.brand {
    background: linear-gradient(135deg, #000000, #000000);
    padding: 8px 18px;
    border-radius: 6px;
    font-weight: bold;
    letter-spacing: 1px;
}

.tabs {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.tab {
    cursor: pointer;
    padding: 6px 14px;
    border-radius: 6px;
    background: #222;
    font-size: 14px;
    opacity: 0.7;
}

.tab.active {
    background: linear-gradient(135deg, #0a0a0a, #050505);
    opacity: 1;
}

hr {
    border: none;
    border-top: 1px solid #333;
    margin-bottom: 20px;
}

label {
    font-size: 13px;
    opacity: 0.8;
}

input {
    width: 100%;
    margin: 6px 0 16px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #242424;
    color: #121111;
}

.name-row {
    display: flex;
    gap: 10px;
}

.primary-btn {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background: #272626;
    color: #c3bcbc;
    margin-bottom: 15px;
}

.divider {
    text-align: center;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 12px;
}

.socials {
    display: flex;
    gap: 10px;
}

.social-btn {
    flex: 1;
    padding: 10px;
    background: #f7f5f5;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.footer-text {
    font-size: 11px;
    opacity: 0.5;
    margin-top: 15px;
    text-align: center;
}

.hidden {
    display: none;
}

.signin-btn {
    position: static;
    right: -70px;  
    top: 150px;     
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}