   .topbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
   }
   .LeftSideIcon{
    display: flex;
    gap: 18px;
   }
   .searchbar{
    flex:1;
    margin-left: 20px;
    margin-right: 20px;
    
    
   }
   .searchbar input{
    width: 90%;
    height :30px;
    padding:10px 40px ;
    background-color: gray;
    border: none;
    border-radius: 3px;
   }
   .search-icon{
    position: absolute;
    padding-left: 14px;
    padding-top: 5;
    color: white;
   }
   .Create{
    background: linear-gradient(135deg,#a855f7,#ec4844);
    border: none;
    padding: 10px 16px;
    margin-right: 40px;


   }
   .mainContent{
    margin-top: 25px;
    margin-left: 10px;
    color:  rgb(183, 173, 173);
   }
   .space{
    display:inline-block;
    margin-left: 10px;
    color:  rgb(183, 173, 173);
    

   }
   .rightSideOptions{
    display: flex;
    justify-content: space-between;
    margin-left: 1300px;
    margin-right: 20px;

   }
   .box{
    width: 250px;
    height: 200px;
    background-color: gray;
    margin-left: 10px;
    border-radius: 3px;
   }
   .tabs{
    display: flex;
    padding-top: 40px;
   }
   .tab{
    margin-right: 2px;
    margin-left: 35px;
   }
       
    
    a{
        text-decoration: none;
        color:  rgb(183, 173, 173);
        cursor: pointer;
    }
    a:hover{
        color: gray;
    }




 
