body{
    background-color: rgb(19, 17, 17);
    color: rgb(179, 172, 172);
}
.forYouPage{
    padding: 30px;

}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.headerLinks a{
    text-decoration: none;
    color: rgb(179, 172, 172);
    margin-left: 20px;
}
.headerLinks a:hover{
    color: gray;
}
.GRID{
    display:flex;
    gap: 30px;
    margin-bottom: 25px;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    background-color:rgb(30, 30, 30) ;
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    width: 350px;
    
    
}
.cardWide{
    background-color:rgb(30, 30, 30) ;
    border-radius: 5px;
    padding: 20px;
    height: 300px;
    width: 770px;

}
.boxLine{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.box{
    background-color: rgb(123, 121, 121);
    height: 50px;
    width: 100px;
    margin-right: 15px;
    border-radius: 3px;

    
}
.line{
    background-color: rgb(123, 121, 121) ;
    height: 5px;
    width: 170px;
}
   
    
    




 
