.container {
    max-height: 50px;
    display: flex;
    gap: 100px;
    flex-direction:row;
    justify-content: space-between;
    padding-top: 10px;
}
#hela{
    padding-left: 20px;
}
#search {
    display: flex;
    gap: 30px;
    flex-direction: row;
}
#search input{
    color: rgb(247, 247, 247);
    background-color: rgb(33, 32, 32, 10%);
    border-radius: 20px;
    border: 3px solid rgb(0, 0, 0, 30%);
    padding: 0.6rem 1rem;
    text-indent: 0.25rem;
}

#search input:focus, #search input:hover, #search textarea:focus{
    border: 3px solid rgb(0, 0, 0, 30%);
    outline: none;
    padding: 0.6rem 1rem;
    text-indent: 0.25rem;
    box-shadow: none;
}

.list-flex{
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-size: 16px;

}


