* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 20px;
}
body{
    background-color: rgb(33, 33, 33);
    color:rgb(238, 238, 238);
}