 body{
        background-color: rgb(26, 25, 25);
    }
    .container{
        padding: 20px;

    }
    h1{
        color: rgb(172, 172, 172);
        
    }
    .tabs{
        margin:10px 0 20px;
        background-color: #575656;
        width: 280px;
        height:30px;
        padding-top: 6px;
        padding-left: 40px;
        border-radius: 6px;
        display: flex;
        gap: 20px;
        padding-bottom: 6px;
        
        
        
    }
    .tab{
        font-weight: 600;
        font-size: 20px;

    }
    .tab2{
        font-weight: 600;
        font-size: 20px;
    
    }
    button{
       
        border-radius: 3px;
        border: none;
    }
    .top{
        
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    .bottom{
          
          display: flex;
          justify-content: space-between;
          gap:25px

    }
    .card{
        background-color: rgb(172, 172, 172) ;
        width: 6000px;
        height: 250px;
        border-radius: 6px;
        
    }
    .inside-card{
        display: flex;
        gap: 20px;
        align-items: center;

    }
    .chart-card{
          background-color: rgb(172, 172, 172) ;
          margin-top: 20px;
          width: 915px;
          border-radius: 6px;
          height: 350px;
          padding-left: 20px;
    }
    .status-card{
         background-color: rgb(172, 172, 172) ;
         margin-top: 20px;
         width: 450px;
         border-radius: 6px;
    }
     .tab{
        background-color: #575656;
        border: none;
        
    }
    .icon{
        background-color: rgb(26, 25, 25);
        color: white;
        font-size: 20px;
        border-radius: 3px;
        height: 25px;
        width: 40px;
        padding-top: 6px;
        padding-left: 15px;
        margin-left: 20px;
       
        
    }
    h5{
        font-size: x-large;
    }
    p1{
        font-size: 45px;
        margin-left: 30px;
        font-weight: 600;
    }  
    p{
        font-size:25px ;
        font-weight: 600;
        margin-left: 20px;
    }  
   
        
        
        
    
    
